---
sudo: false
dist: trusty
language: node_js
node_js:
  - '8.3'
  - '8'

cache:
  directories:
    - node_modules

before_install:
  - npm i -g npm@$(node -p "require('./package').engines.npm")
  - touch package.json

install:
  - make install

script:
  - make lint
  - make test

after_success:
  - make coverage
  - cat coverage/lcov.info | node_modules/.bin/coveralls
