---
sudo: false
dist: trusty
language: node_js
node_js:
  - '8.3'
  - '8'
  - '10'
  - '11'

cache:
  directories:
    - node_modules

before_install:
  - touch package.json

install:
  - make install
  - make precompile

script:
  - make lint
  - make test

after_success:
  - make coverage
  - cat coverage/lcov.info | node_modules/.bin/coveralls

env:
  global:
    # NPM_TOKEN
    - secure: EWccBaWwl3Kw3PVQfMuGezIqZ1czpVDRHgjcKtnwJx6lGAUGEsP38GisZP8B/nPE89ApO6jy8DL0KkQA4pk1Nd9KcV1vhj37aaWxZmi8EVfgif28xTuz1FPjnPTshiMbLHdzNTzrL89XApycaHRY31OJHlHox3c0PTSNMEnyygyGfC7gZyMYiwzOpR3f8+iPbx5s8MXOnmFlTGyr7NQ1NZW6CgyHpQMZ0ef1U88Ygc/QeRkNaUS9/duSYmks7zYufsGxwTjqKtIhh+S03+ywcDFs8HW42C8pBR5YEw8jzQrzGaDPfq42RtHHecdGManLIDgttOtaXp0XxArrRIkr2BMmojbW1BU/iDDSlJYwzW7R8cIesYGGUbdwnBi3vTKBf9aVTnd1zJI6H2mlwNuE4q1ZEnLNmeuEY8HRdZs98yGCAeHST4/nrDQOlb4UeRihX8UMqkYvbi/JOk03rY5VJEtMLJ6gzOVQciPrIT+cA9wVnTzDwr7je1q6X591IeZcncjtM0Qy+jq42UgS/PnPJ3ws044Gs/2H2sg24ZaEcfBO7HhCObcEqLFcSKoxgEpfynXyTvzIJ7Q/StnVS7rNn138Nu4guJTNZndv4E90osxjFzdYM/1HMUuc1kpGMcxlUjJU7iJ0/2uYGCqnb4LPTDc92JnCCclsIHrLsVpVoQQ=

deploy:
  skip_cleanup: true
  provider: script
  script: utils/release.sh
  on:
    repo: strvcom/atlas.js
    all_branches: true
    condition: $TRAVIS_BRANCH =~ ^release\/.{1,}$
    node_js: '10'
